.header {
    background-image: $bg-primary-color, url(../img/hero.jpg);
    background-position: top;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    height: 95vh;

    position: relative;

    &__logo {
        width: 8rem;
        position: absolute;
        top: 3.5rem;
        left: 3.5rem;
    }

    &__content-box {
        @include object-position(40%, 50%);

        display: inline-block;
        text-align: center;
    }

    &__headline,
    &__sub-headline {
        color: $color-grey-light-1;
        text-transform: uppercase;
    }

    &__headline {
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        margin-bottom: 1.5rem;
    }

    &__sub-headline {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.78rem;
    }
}

.about {
    @extend %main-white-bg;
    @extend %section-center-content;
    @extend %section-horizontal-padding;
    @include add-vertical-padding(20rem, 20rem);
    margin-top: -12rem;

    &__main {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        padding-right: 8rem;
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
    }

    &__right {
        flex-basis: 50%;
    }

    &__img-box {
        position: relative;        

        &:hover > *:not(:hover) {
            transform: scale(.9);
        }
    }

    &__img {
        position: absolute;
        outline: 0px solid $color-primary;
        outline-offset: 12px;   
        transition: all .2s;

        &--1,
        &--2,
        &--3 {
            box-shadow: $regular-box-shadow;
        }

        &--1 {
            top: -3rem;
            left: 2rem;
        }

        &--2 {
            top: 2rem;
            left: 50%;
        }

        &--3 {
            left: 25%;
            top: 10rem;
        }

        &:hover {
            box-shadow: $strong-box-shadow;
            outline-width: 12px;
            transform: scale(1.1);
            z-index: 10;
        }
    }
}

.benefit {
    @extend %section-horizontal-padding;
    @include add-vertical-padding(32rem, 32rem);
    background-image: $bg-primary-color, url(../img/nat-4.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
    position: relative;
    z-index: 1;
    margin-top: -20rem;

    &__list {
        @extend %add-gutter-width;
        display: flex;
        justify-content: space-between;
    }
}

.tour {
    @extend %main-white-bg;
    @extend %section-center-content;
    @extend %section-horizontal-padding;
    @include add-vertical-padding(24rem, 12rem);
    margin-top: -20rem;

    &__list {
        @extend %add-gutter-width;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__price-tag{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__price-label {
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $color-white;
        margin-bottom: 1.6rem;
    }

    &__price {
        font-size: 5.6rem;
        font-weight: 100;
        color: $color-white;
    }   
}

.story {
    @extend %section-horizontal-padding;
    @extend %section-center-content;
    @include add-vertical-padding(16rem, 12rem);
    position: relative;

    &__video-bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .15;
    }
}