.card {
    background-color: $color-white;
    flex: 1 0 0;

    &__header {
        height: 20rem;
        position: relative;
    }

    &__header-content {
        text-align: right;
        width: 80%;
        position: absolute;
        bottom: 1.2rem;
        right: 1.6rem;
    }

    &__header-image {
        height: 100%;
        background-position: center;
        background-size: cover;
        background-blend-mode: screen;
        clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);

        &--orange {
            background-image: url($tour-easy-img), $secondary-gradient-color;
        }

        &--green {
            background-image: url($tour-medium-img), $primary-gradient-color;
        }

        &--blue {
            background-image: url($tour-hard-img), $tertiary-gradient-color;
        }
    }

    &__header-image-caption {
        font-size: 2.8rem;
        font-weight: 300;
        line-height: 1.75;
        color: $color-white;
        text-transform: uppercase;

        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        padding: 1rem;

        &--orange {
            background-image: $bg-secondary-color;
        }

        &--green {
            background-image: $bg-primary-color;
        }

        &--blue {
            background-image: $bg-tertiary-color;
        }
    }

    &__content-list {

    }

    &__front {

    }

    &__back {
        display: none; //temporary
    }
}

.simple-card {
    background-color: rgba($color-grey-light-1, $alpha: .85);
    text-align: center;
    padding: 2.5rem 3rem;
    border-radius: $border-rad-sm;
    box-shadow: $small-box-shadow;
    transition: transform .4s;

    /* 
    this make the flex item grow occupy the same space with its sibling, combined with
    flex basis 0, it makes the flex item width is purely depend on flex grow result
    which in the end make all the flex item width same with each of their siblings
    */
    flex: 1 0 0px;

    &__icon {
        padding: 2rem 0;
        font-size: 7.2rem;
        color: transparent;
        background-image: $primary-gradient-color;
        background-clip: text;
        -webkit-background-clip: text;
    }

    &__body {
        font-size: $regular-font-size;
        text-align: center;
        line-height: 1.5;
        color: $color-grey-dark-2;
    }

    &:hover {
        transform: scale(1.02) translateY(-4%);
    }
}