// @font-face {
//     font-family: Lato;
//     src: url(../fonts/Lato-Black.ttf);
//     font-weight: 900;
// }

@include include-normal-font(Lato, '../fonts/Lato-Black.ttf', 900);
@include include-normal-font(Lato, '../fonts/Lato-Bold.ttf', 700);
@include include-normal-font(Lato, '../fonts/Lato-Regular.ttf', 400);
@include include-normal-font(Lato, '../fonts/Lato-Light.ttf', 300);
@include include-normal-font(Lato, '../fonts/Lato-Thin.ttf', 100);

.headline {
    display: inline-block;
    font-size: 3.6rem;
    text-transform: uppercase;
    color: transparent;

    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;

    transition: all .2s;

    &:hover {
        transform: skewX(20deg) scale(1.1) rotate(2deg);
        text-shadow: 0 8px 20px rgba($color-black, .2);
    }
}

.sub-headline {
    @extend %main-text-color;
    font-size: $regular-font-size;
    font-weight: 800;
    text-transform: uppercase;
}

.paragraph {
    @extend %main-text-color;
    font-size: $regular-font-size;
    line-height: 1.75;
}