//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//GRADIENT COLOR
$primary-gradient-color: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
$bg-primary-color: linear-gradient(to bottom right, rgba($color-primary-light, .8), rgba($color-primary-dark, .8));

//FONT
$regular-font-size: 1.6rem;

//SHADOW
$strong-box-shadow: 0 12px 36px rgba($color-black, .7);
$regular-box-shadow: 0 8px 28px rgba($color-black, .4);
$small-box-shadow: 0 8px 20px rgba($color-black, .1);

//GRID GUTTER
$grid-gutter: 6rem;

//BORDER RADIUS
$border-rad-sm: 4px;